body {

}

.wrapper{
    z-index: -2;
    min-height: 100vh;
    background-image: url('./assets/backgroundImg.png');  
    background-size: cover;    
    background-repeat: no-repeat;
    overflow: hidden;
}